<%= form_with model: Todo.new, :class => 'todo-form' do |form| %>
  <%= form.text_field :text, autofocus: true, placeholder: 'Add new Todo' %>
<% end %>
<% if @errors %>
<ul class="error-list">
  <% @errors.each do |error| %>
    <li class="error-list-item"><%= error %></li>
  <% end %>  
</ul>
<% end %>
<%= turbo_frame_tag :todos do %>
  <ul class="todo-list">
    <% @todos.each do |todo| %>
      <li class="todo-list-item">
        <span class="todo-list-item-text <%= todo.status%>"><%= todo.text %></span>
        <span class="todo-list-item-action">
          <% if todo.status == 'pending' %>
            <%= form_with model: todo, :method => :patch do |form| %>
              <%= form.hidden_field :status, value: 'done' %>
              <%= form.submit 'Done', class: 'update-button' %>
            <% end %>
          <% end %>
          <% if todo.status == 'done' %>
            <%= form_with model: todo, :method => :delete do |form| %>
              <%= form.submit 'Delete', class: 'delete-button' %>
            <% end %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
