<!DOCTYPE html>
<html>
  <head>
    <title>Rails Todo Playground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <h1>Rails Todo Playground</h1>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
